:root {
	/* Primary Colors */
	--primary-color: #172a3a;
	--secondary-color: #004346;
	--tertiary-color: #09bc8a;

	--sub-title-color: #508991;
	--hover-color: #74b3ce;

	/* Contribution Day Levels Colors */
	--gh-level-0: #1e3040;
	--gh-level-1: #0d5a45;
	--gh-level-2: #0a8865;
	--gh-level-3: #09bc8a;
	--gh-level-4: #52e0b6;

	/* Utility */

	--shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	font-family:
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif;

	h3 {
		color: white;
	}

	h1 {
		color: white;
	}

	button {
		color: white;
	}

	p {
		color: white;
	}

	body {
		background-color: var(--primary-color);
	}

	a {
		color: var(--sub-title-color);
		text-decoration: none;
	}

	a:hover {
		color: var(--hover-color);
		cursor: pointer;
	}
}
