:global {
	/* Contribution Colors */
	--gh-primary: #6f42c1;
	--gh-secondary: #24292e;

	/* Contribution Day Levels Colors */
	--gh-level-0: #ebedf0;
	--gh-level-1: #ebedf0;
	--gh-level-2: #ebedf0;
	--gh-level-3: #ebedf0;
	--gh-level-4: #ebedf0;

	--deep-space-blue: #172a3a;
	--dark-teal: #004346;
	--mint-leaf: #09bc8a;

	--pacifitc-cyan: #508991;
	--sky-reflection: #74b3ce;
}
